@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.home-emu-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #555555;
  overflow: hidden;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.gameTitle {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.rulesContent {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 2rem;
}

.homeButton {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: rgb(189, 78, 18);
  color: white;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.homeButton:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.homeButton:active {
  transform: scale(0.95);
}
